.messaging {
    overflow-y: scroll;
    overflow-y: hidden; /* Hide vertical scrollbar */
  }

  .showMessage{
     overflow-y: hidden; /* Hide vertical scrollbar */
  }
  .messaging::-webkit-scrollbar {
    display: none;
  }

  .showMessage::-webkit-scrollbar {
    display: none;
  }
  
  .messaging {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .textField {
    display: inline-block;
    border: solid 1px black;
    min-width: '50px';
    max-width: '200px';
  }
  
  